body{
    background: linear-gradient(to bottom right,#7CC995,#5C946E,#3B6544) fixed;
}
article, footer{
	position: relative;
    width: 50%;
    background-color: rgb(21, 22, 24);
    margin: auto;
    border-radius: 15px;
}
section{
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(92,148,110);
    background-color: rgba(92, 148, 110, .5);
    overflow: auto;
}
#honeycomb{
    float: left;
    overflow: auto;
}
#intro{
    width: 20%;
    position: absolute;
	top: 40px;
	right: 10px;
    
}
h1{
    color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0;
    right: 40px;
    text-decoration: underline;
    text-decoration-color: #3B6544;
}
h2{
    color: #FAFAFA;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: underline;
    text-decoration-color: #3B6544;
}
p{
    color: #FAFAFA;
    font-family: 'Oswald', sans-serif;
}
