body{
    background: linear-gradient(to bottom right,#7CC995,#3B6544,#10231A) fixed;
}
article, footer{
	position: relative;
    width: 75%;
    background-color: rgb(21, 22, 24);
    margin: auto;
    border-radius: 15px;
}
section{
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(92,148,110);
    background-color: rgba(92, 148, 110, .5);
    overflow: auto;
}

#hobbies{
    width: 25%;
    height: 15em;
    position: relative;
	top: 200px;
	left: 10%;
}  
#tunes{
    width: 25%;
    height: 15em;
    position: relative;
	top: 85px;
	left: 45%;
}
#games{
    width: 25%;
    height: 15em;
    position: relative;
	top: -30px;
	left: 70.45%;
}
#honeycomb{
    float: left;
    background: none;
    border: none;
}
#intro{
    width: 20%;
    position: absolute;
	top: 40px;
	right: 10px;
}
#quickbio{
    width: 15%;
    height: 15em;
    position: absolute;
    top: 200px;
	left: 10px;
    overflow: auto;
}
#insta{
    background-image: url("instagram.png");
    background-repeat: no-repeat;
    width: 180px;
    height: 207px;
    text-align: center;
    padding-top: 85px;
    font-size: 2em;
}
h1{
    color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0;
    right: 40px;
    text-shadow: 2px 2px .07em #7cc995;
    text-decoration: underline;
    text-decoration-color: #3B6544;  
    letter-spacing: .2em;
}
h2{
    color: #FAFAFA;
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: 2px 2px .05em rgb(21, 22, 24);
    text-decoration: underline;
    text-decoration-color: #3B6544;
    letter-spacing: .2em;
    text-align: left;
}
a{
    text-decoration: none;
    color: rgb(212, 212, 212)
}
p{
    color: #FAFAFA;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
}
li{
    color: #FAFAFA;
    font-family: 'Oswald', sans-serif;
    list-style-type: none;
}
#disc{
    text-align: right;
    font-size: .8em;
    padding: 2px;
    padding-right: 10px;
}