/*structure*/
body{
    background: linear-gradient(to bottom right,#7CC995,#3B6544,#10231A) fixed;
}
article, footer{
	position: relative;
    width: 975px;
    background-color: rgb(21, 22, 24);
    margin: auto;
    border-radius: 15px;
}
section{
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(92,148,110);
    background-color: rgba(92, 148, 110, .5);
    overflow: auto;
}
#hobbies{
    width: 20%;
    height: 15em;
    position: relative;
    top: 400px;
    left: 330px;
}  
#tunes{
    width: 20%;
    height: 15em;
    position: relative;
    top: 158px;
    left: 540px;
}
#games{
    width: 20%;
    height: 15em;
    position: relative;
    top: -84px;
    left: 750px;
}
#intro{
    width: 42%;
    position: absolute;
	top: 100px;
	right: 20px;
}
#quickbio{
    width: 20%;
    height: 15em;
    position: absolute;
    top: 400px;
	left: 10px;
    overflow: auto;
}
#insta{
    background-image: url("instagram.png");
    background-repeat: no-repeat;
    border-radius: 45px;
    width: 117px;
    height: 140px;
    position: absolute;    
    left: 350px;
    top: 15px;
    font-size: 1.5em;
    text-align: center;
}
/*images*/
#honeycomb{
    float: left;
    background: none;
    border: none;
}
#big{
    position: absolute;
    top: 115px;
    left: 20px;
}
#med{
    position: absolute;
    left: 150px;
    padding: 10px;
}
#small{
    position: absolute;
    left: 230px;
    top: 120px;
}
#dragon{
    background: none;
    border: none;
    text-align: center;
}
/*text*/
h1{
    color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 1.7em;
    right: 30px;
    text-shadow: 2px 2px .07em #7cc995;
    text-decoration: underline;
    text-decoration-color: #3B6544;  
    letter-spacing: .2em;
}
h2{
    color: #FAFAFA;
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: 2px 2px .05em rgb(21, 22, 24);
    text-decoration: underline;
    text-decoration-color: #3B6544;
    letter-spacing: .2em;
    text-align: left;
}
a{
    text-decoration: none;
    color: rgb(212, 212, 212)
}
p{
    color: #FAFAFA;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
}
li{
    color: #FAFAFA;
    font-family: 'Oswald', sans-serif;
    list-style-type: none;
}
#disc{
    text-align: right;
    font-size: .8em;
    padding: 2px;
    padding-right: 10px;
}